#copy-tooltip > button {
  background-color: black;
  border: 1px solid grey;
  color: aliceblue;
  float: left;
  min-width: 50px;
  min-height: 30px;
  font-size: larger;
}

#copy-tooltip > button:not(:last-child) {
  border-right: none;
}

#copy-tooltip > button:hover {
  background-color: rgb(34, 34, 34);
  cursor: pointer;
}

#copy-tooltip > button {
  border-radius: 5px;
}
